 /* -----------header page--------------- --- */
.tekst{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 170px;
}
.wrapper{
    margin: 0 auto;
    width: 60%;
}
    
.dropdown-btn {
    background-color: #04AA6D;
    border: solid #04AA6D 1px;
    border-radius: 7px;
    box-shadow: 0px 1px 3px #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;  
    margin-top: 30px;
}
.side_bar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    box-sizing: border-box;
    padding: 5px 1em;
    border-right: 1px solid black;
}
.dropdown-content {
    display: none; 
    position: absolute;
    top: 50px; 
    left: 0;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    font-weight: 300;
    width: 202px;
    padding: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.drop-down {
    position: relative;
    display: inline-block;
}

.drop-down:hover .dropdown-content {
    display: block;
}

.drop-down:hover .dropdown-btn {
    background-color: #3e8e41;  
}
.img_header{
    display: flex;
    margin: 0 auto;
    width: 60%;
}
.img {
    display: flex;
    justify-content: center; 
     
}
/* --------- tables pages (So all the pages of the tables are listed)------ */

.parameter-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    border: 1px solid #ddd;
}

.parameter-table th, .parameter-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.parameter-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}
.table_style{
    margin: 20px;

}
.signal-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
}

.signal-table th,
.signal-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.signal-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.signal-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.signal-table tr:hover {
    background-color: #f1f1f1;
}
.table-container {      
    justify-content: center;      
    align-items: center;   
    width: 100%;

}

.parameter-table {
    width: auto;                  
    border-collapse: collapse;
    margin: 0;  
    width: 70%;            
}